.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.stop-watch {
  height: 85vh;
  width: 23vw;
  background-color: #464462;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App {
  background-color: rgb(238, 238, 238);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.digits {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color: #f5f5f5;
}

.mili-sec {
  color: #e42a2a;
}
<pre > .Control-Buttons {
  margin: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #e42a2a;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f5f5f5;
}

.btn-one {
  background-color: #e42a2a;
}

.add-btn {
  width: 32px;
  border: 2px solid white;
  height: 32px;
  border-radius: 15%;
  text-align: center;
  margin-left: 10px;
}
.plusIcon {
  margin-top: 6px;
  color: aliceblue;
}
.tableStyle {
  margin-top: -40%;
}
.cardview {
  background-color: #5178ad !important;
  background-image: linear-gradient(#5178ad, #5591b6, #62b7c1) !important;
  width: 70%;
  height: 400px;
}
.circle {
  width: 120px;
  height: 120px;
  border: 1px solid #e6dcdc;
  border-radius: 50%;
  margin-bottom: 10px;
  font-family: "ArchivoNarrow";
  color: #e6dcdc;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 4.6rem;
  justify-content: center;
}
.time {
  position: absolute;
  font: 32px Arial, sans-serif;
  font-family: "ArchivoNarrow";
  top: 32%;
  left: 36%;
  color: #e6dcdc;
}
.title {
  color: #e6dcdc;
  margin-left: 30px;
}
.CounterTitle {
  color: #e6dcdc;
  margin-left: 42%;
  font-size: 40px;
  margin-top: -50px;
}
.mainCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.circleAnimation {
  position: relative;
  z-index: 0;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  overflow: hidden;
  padding: 2rem;
  border: 4px solid #e6dcdc;
  border-bottom-color: transparent;
  border-left-color: transparent;
  /* Rotate the circle */
}
.circleAnimation:before {
  content: "";
  display: block;
}

.circle-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 120px;
  height: 120p;
  margin-bottom: 10px;
}
.circle-wrapper .time {
  position: absolute;
}

/* stop watch css */

/* .main-Circle{
  width: 100px;
  height: 100px;
} */
.base-timers {
  position: relative;
  width: 120px;
  height: 120px;
  border: 8px solid gray;
  border-radius: 50%;
}
.base-timer__circle {
  fill: none;
  border: none;
}

/* .base-timer_path-elapsed {
 
  border: 8px solid gray;
  border-radius: 50%;
} */
.base-timer__label {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.base-timer_secondCircle {
  color: green;
}
.base-timer-remaining {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 8px solid green;
  /* transform-origin: center; */
  /* transform: rotate(360deg); */
  /* transition: 1s linear all; */
  /* border-bottom-color: transparent;
    border-left-color: transparent; */
  animation: circle 4s linear infinite;
}
.base-timer {
  transform: scaleX();
}
@keyframes circle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* BreadCump  Css */
.breadcumb {
  width: 80%;
  height: 200px;
  background-color: #eeeee4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 10%;
}
.breadcum-wrapper {
  width: 40%;
  height: 70px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-left: 30%;
}

.uLDiv {
  position: absolute;
  margin-top: 15px;
}
ul{
  margin-top:20px
}
/* ul,
li.liTitle{
  list-style-type: none;
  font-size: 20px;
} */
 li.menuTitle {
  display: flex;
  float: left;
  margin-right: 15px;
  color:#554e5ce8;
  list-style-type: none;
  font-size: 20px;
}
li .separator {
  margin-left: 8px;
} 
/* .spanLabel {
  margin-left: 49px;
  font-size: 20px;
  margin-top: 4px;
  display: flex;
  float: left;
  margin-right: 15px;
  color:#0f2f4b;
} */

/*  arrow-pointer */

.arrow-pointer {
  width: 200px;
  height: 43px;
  background: #1d3a5d;
  position: relative;
  margin-right: 30px;
  margin-bottom: 10px;
}

.arrow-pointer:hover {
  background: #0a284c;
}
.arrow-pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #7eb4e2;
  border-top: 18px solid transparent;
  border-bottom: 25px solid transparent;
}
.arrow-pointer:before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #1d3a5d;
  border-top: 18px solid transparent;
  border-bottom: 25px solid transparent;
}
.arrow-pointer:hover::before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #0a284c;
  border-top: 18px solid transparent;
  border-bottom: 25px solid transparent;
}
/* button Css */

.dropdown__menu {
  /*display: none;*/
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
}

.dropdown__menu.active {
  /*display: block;*/
  transform: scaleY(1);
}

#menu__icon {
  transition: all 1s;
}

#menu__icon.active {
  color: #fff;
}
/* .btn {
  border: 2px solid #0080003d;
  width: 70px;
  height: 40px;i
} */
.click {
  height: 0px;
  width: 0px;
  border: none;
  background-color: transparent;
}
li.clickFun{
    display: flex;
    float:left;
    margin-right:-25%;

  }
.dots{
  color:#554e5ce8
}
.ulMenu{
  width: 9%;
    height: 180px;
    border: 1px solid #869786;
    overflow: scroll;
}
/* .dropDown{
  position: relative;
  
}
.dropDownMenuList{
  position: absolute
} */
.allMenu .dropdown__menu{
  /* display: table-row; */

}
/* .dropdown__menu{
  width: 20%;
    height: 190px;
    border: 1px solid green;
} */
.allMenu ul li{
  /* display: table-cell;
  height: 100px;
  list-style-type: none;
  /* margin: 10px; 
  vertical-align: middle; */
}
/* dropdown Css */
div.wrapper{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
div.container {
  width: 200px;
}
button {
  position: relative;
  border: 0;
  border-radius: 4px;
  width: 20%;
  padding: 6px 8px;
  position: relative;
  text-align: left;
}
ul.options {
  position: fixed;
    border: 2px solid #fff;
  display: none;
  list-style: none;
  padding: 4px 50px;
  margin-top: 10px;
  border-radius: 6px;
  font-family:serif ;
  z-index: 2;
bottom: 20px; 
background-color:#eeeee4 ;
  
}
ul.show {
  display: block;
}
/* ul.options{

  list-style-type: none;
  display: none;
    border: 1px solid #554e5ce8;
    border-radius: 15px;
    margin-top: -4px;

    background: #fff;
    color: #554e5ce8;
    font-family: serif;
} */